# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db

# Node
node_modules/
.next/
out/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep